<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <!-- sidebar.component.html -->
    <div class="sidebar">
        <a href="#" class="sidebar-brand">My App</a>
        <a href="#">ข้อมูลร้าน</a>
        <a href="#">รายการอาหารที่สั่ง</a>
        <a href="#">การชำระเงิน</a>
        <a href="#">โต๊ะอาหาร</a>
    </div>
    
    <div class="main-content">
        <!-- เนื้อหาหลักของหน้าเว็บ -->
        <router-outlet></router-outlet>
    </div>
</body>
</html>